.reservations-present__title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    margin: 20px 0;
}

.reservation__summary {
    position: relative;
    color: #fff;
    background: #3560f6;
    width: 90%;
    height: 270px;
    border-radius: 8px;
    margin: 0 20px 20px;
    padding: 30px 20px 30px;
}

.reservation__summary--title-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.reservation__summary--title {
    margin-left: 20px;
}

.reservation__summary--flex-frame {
    display: flex;
}

.reservation__summary--labels {
    width: 20%;
}

.reservation__summary--labels-name,
.reservation__summary--labels-date,
.reservation__summary--labels-time,
.reservation__summary--labels-number {
    display: block;
    margin: 5px;
}

.reservation__summary--contents {
    width: 80%;
    overflow: hidden;
    padding-left: 10px;
}

.reservation__summary--contents-name,
.reservation__summary--contents-date,
.reservation__summary--contents-time,
.reservation__summary--contents-number {
    display: block;
    margin: 5px;
}

.reservation__summary--contents-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reservation__summary--button-change {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
}

.reservation__summary--button-cancel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}

.reservation__summary--button {
    color: #fff;
    background: #003ff5;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}
