.header {
    background: #f2f2f2;
}

.header__frame {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    padding: 10px 20px;
    max-width: 1230px;
}

.header__menu--button {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.header__menu--image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px -2px;
}

.header__logo {
    color: #3560f6;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 3px;
}

.header__welcome {
    color: #3560f6;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    margin-left: 20px;
    margin-bottom: 7px;
}

.modal__background {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.modal__contents {
    opacity: 0;
    visibility: hidden;
}

.modal__contents--button-close {
    position: relative;
    top: 10px;
    left: 20px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.modal__contents--image-close {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px -2px;
}

.modal__contents--list {
    position: relative;
    top: 50px;
    text-align: center;
    list-style: none;
}

.modal__contents--list li {
    margin: 10px;
}

.modal__contents--list li a,
.modal__contents--list li form input {
    color: #3560f6;
    background: #fff;
    font-size: 18px;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal__background.is-open {
    z-index: 999;
    opacity: 1;
    visibility: visible;
}

.modal__background.is-open .modal__contents {
    opacity: 1;
    visibility: visible;
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #f2f2f2;
    width: 100%;
    height: 100%;
    z-index: -1;
}
